[Unit]
Description = Tor routing the system by default
After = network-online.target

[Service]
ExecStart = /opt/torbridge/torbridge -c start

[Install]
WantedBy = multi-user.target
