[Unit]
Description = Tor routing the system by default
After = network-online.target

[Service]
ExecStart = /opt/torbridge/torbridge -c start
TimeoutSec = 30
Restart = on-failure

[Install]
WantedBy = multi-user.target
